# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# VSCode / IDE settings
.vscode/
.idea/
